<form action="/shorten_url" class="url-form">
  <input type="url" name="url" class="url-input" placeholder="Input URL Here" value="" required>
  <button type="submit" class="url-button">Shorten</button>
</form>

<div class="input-container">
  <label for="short-url">Your URL:</label>
  <input type="text" id="short-url" value="{{ shortURL }}" readonly="readonly/">
  <button id="copyBtn"><i class="fa-regular fa-copy"></i></button>
</div>



