<div class="input-container">
  <label for="short-url">Your URL:</label>
  <input type="text" id="short-url" value="{{ shortURL }}">
  <i class="fa-regular fa-copy"></i>
</div>


{{!-- <P class="">Your URL: <input class="short-url" value=""></P> --}}

